*{
  box-sizing: border-box;
  margin: 0;
}
body{
  background: rgb(243, 241, 241);
}
h1{
  text-align: center;
  margin: 20px;
}
form{
  width: 60%;
  margin: 30px auto;
}
label{
  margin: 25px;
}
.sub{
  display: block;
  margin: 0 25px;
}